#about {
    &.page-section {
        .top-section {
            height: 60vh;
            @include display-flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 20px;
            .name-and-title {
                -webkit-animation-name: fadeIn;
                -moz-animation-name: fadeIn;
                animation-name: fadeIn;
                -webkit-animation-duration: 3s;
                -moz-animation-duration: 3s;
                animation-duration: 3s;
            }
        }
        .bottom-section {
            height: 40vh;
            background-color: $blue-font-color;
            color: $white;
            padding-top: 60px;
            .copy {
                -webkit-animation-name: slowFadeIn;
                -moz-animation-name: slowFadeIn;
                animation-name: slowFadeIn;
                -webkit-animation-duration: 3s;
                -moz-animation-duration: 3s;
                animation-duration: 3s;
            }
        }
        .down-arrow {
            position: absolute;
            bottom: 20px;
            color: $white;
        }
    }
}

@media screen and (min-width: 1024px) {
    #about {
        &.page-section {
            @include display-flex;
            .top-section, .bottom-section {
                height: 100vh;
                width: 50%;
                @include display-flex;
                align-items: center;
                justify-content: center;
            }
            .bottom-section {
                padding: 0px 40px 0px 200px;
            }
            .down-arrow {
                right: 25%;
            }
        }
    }
}

// keyframe fadeIn
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1.0;
    }
}
@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1.0;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1.0;
    }
}

// keyframe animation for fadeIn triggered by a delay
// opacity does not actually change until 25% of the animation is complete
@-webkit-keyframes slowFadeIn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1.0;
    }
}
@-moz-keyframes slowFadeIn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1.0;
    }
}
@keyframes slowFadeIn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1.0;
    }
}
