#contact {
    &.page-section {
        height: 500px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/nyc_stock.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-align: left;
        .page-section-content {
            color: $white;
            padding: 40px 30px 0px 30px;
            .contact-info {
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0px;
                }
                &-title {
                    padding-bottom: 10px;
                }
                a {
                    color: $white;
                }
            }
            .social-links {
                @include display-flex;
                align-items: center;
                justify-content: flex-start;
                .social-link {
                    margin-right: 30px;
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    #contact {
        &.page-section {
            @include display-flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding-top: 30px;
            padding-bottom: 30px;
            .page-section-content {
                .social-links {
                    justify-content: center;
                }
            }
        }
    }
}
