#education {
    &.page-section {
        .page-section-content {
            position: relative;
            overflow: hidden;
            padding-top: 30px;
            background-color: $blue-font-color;
            .page-section-heading {
                position: relative;
                background: rgba(0, 0, 0, 0.4);
                display: inline-block;
                width: 75%;
                color: $white;
                padding: 10px 5px;
                margin-bottom: 30px;
            }
            .education-experience {
                position: relative;
                &:last-child {
                    padding-top: 50px;
                }
                &-place {
                    display: flex;
                    flex-direction: column;
                    &-logo-container {
                        width: 30%;
                    }
                }
                &-description {
                    display: none;
                }
                &#app-academy {
                    text-align: left;
                    padding-left: 20px;
                    .education-experience-description {
                        width: 50%;
                        position: relative;
                    }
                }
                &#binghamton-university {
                    position: static;
                    background-color: $blue-font-color;
                    color: $white;
                    text-align: right;
                    padding-right: 20px;
                    padding-bottom: 30px;
                    .education-experience-place {
                        align-items: flex-end;
                    }
                }
                &-separator {
                    top: 0px;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    background-color: $white;
                    transform: skewY(-56deg);
                    transform-origin: top left;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    #education {
        &.page-section {
            padding-top: 0px;
            margin-bottom: 0px;
            .page-section-content {
                @include display-flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: stretch;
                &-heading {
                    width: 20%;
                    margin-bottom: 0px;
                    background-color: green;
                    color: $white;
                    padding-top: 40px;
                }
                .education-experience {
                    width: 40%;
                    padding: 40px 20px;
                    margin-bottom: 0px;
                    &:last-child {
                        margin-bottom: 0px;
                        margin-top: 0px;
                    }
                }
            }
        }
    }
}
