#education {
    &.page-section {
        padding-top: 50px;
        margin-bottom: 100px;
        .page-section-content {
            &-heading {
                margin-bottom: 10px;
            }
            .education-experience {
                margin-bottom: 50px;
                padding-left: 20px;
                padding-right: 20px;
                &:last-child {
                    margin-bottom: 0px;
                    margin-top: 50px;
                }
                &-place {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 20px;
                    &-logo-container {
                        width: 30%;
                        padding-right: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    #education {
        &.page-section {
            padding-top: 0px;
            margin-bottom: 150px;
            .page-section-content {
                @include display-flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: stretch;
                &-heading {
                    width: 20%;
                    margin-bottom: 0px;
                    background-color: green;
                    color: $white;
                    padding-top: 40px;
                }
                .education-experience {
                    width: 40%;
                    padding: 40px 20px;
                    margin-bottom: 0px;
                    &:last-child {
                        margin-bottom: 0px;
                        margin-top: 0px;
                    }
                }
                .education-experience-separator {
                    display: none;
                }
            }
        }
    }
}
