#header {
    position: absolute;
    width: 100%;
    height: 80px;
    z-index: 10;
    top: 60%;
    margin-top: -40px;
    #nav-bar {
        display: none;
        background-color: $white;
        .nav-bar-left {
            @include display-flex;
            align-items: center;
            .nav-bar-image {
                display: inline-block;
                height: 45px;
                width: 45px;
                background-image: url('../img/christian-bonacore.jpg');
                background-position: center;
                background-size: cover;
                border-radius: 50%;
                margin-right: 5px;
            }
        }
    }
    #nav-menu {
        @include display-flex;
        align-items: center;
        justify-content: center;
        width: 98%;
        margin: 0 auto;
        height: 100%;
        background-color: $white;
        border-radius: 10px;
        border: 1px solid black;
        color: $blue-font-color;
        .nav-menu-item {
            width: 20%;
            text-align: center;
            .icon {
                display: block;
            }
        }
    }
    // .fixed class is added after the user scrolls down
    // This hides the menu that the user initially saw in the middle,
    // and makes that the hamburger menu which slides in and out
    &.fixed {
        position: fixed;
        top: 0px;
        height: 50px;
        margin-top: 0px;
        border-bottom: 1px solid black;
        #nav-bar {
            @include display-flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            .nav-bar-left {
                margin-left: 10px;
            }
            #hamburger-icon {
                margin-right: 10px;
            }
        }
        #nav-menu {
            position: absolute;
            width: 200px;
            height: auto;
            margin: 0;
            border-top: 0px;
            border-right: 0px;
            border-radius: 0px;
            flex-direction: column;
            transition: right 0.3s;
            .nav-menu-item {
                width: 100%;
                padding-top: 20px;
                padding-bottom: 20px;
                &-link {
                    @include display-flex;
                    align-items: center;
                    justify-content: space-between;
                    &-icon {
                        order: 2;
                    }
                    &-name {
                        padding-right: 8px;
                    }
                }
            }
            &.open {
                right: 0px;
                padding-left: 12px;
                padding-right: 12px;
                .nav-menu-item {
                    border-bottom: 1px solid #ccc;
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
            &.close {
                right: -210px
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    #header {
        max-width: 300px;
        height: auto;
        top: 50%;
        margin-top: -150px;
        left: 50%;
        margin-left: -150px;
        #nav-menu {
            flex-direction: column;
            height: auto;
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
            .nav-menu-item {
                width: 100%;
                padding-top: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid #ccc;
                &:last-child {
                    border-bottom: none;
                }
                &-link {
                    @include display-flex;
                    align-items: center;
                    justify-content: space-between;
                    &-icon {
                        order: 2;
                    }
                }
            }
        }
        &.fixed {
            width: 100%;
            left: 0;
            max-width: none;
            @include display-flex;
            justify-content: space-between;
            margin-left: 0px;
            background-color: $white;
            #nav-bar {
                position: relative;
                .nav-bar-left {
                    margin-left: 0px;
                    .nav-bar-image {
                        position: absolute;
                        height: 75px;
                        width: 75px;
                        top: 10px;
                        left: 5px;
                    }
                    .nav-bar-name {
                        margin-left: 95px;
                    }
                }
                #hamburger-icon {
                    display: none;
                }
            }
            #nav-menu {
                flex-direction: row;
                position: static;
                width: auto;
                border: none;
                padding-left: 0px;
                .nav-menu-item {
                    margin-right: 40px;
                    border-bottom: none;
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}
