// TODO - might have to add more vendor prefixes
@mixin display-flex {
    display: flex;
    display: -webkit-flex;
}

@mixin border-box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
