#portfolio {
    &.page-section {
        .page-section-heading {
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 15px;
        }
        .page-section-content {
            padding: 20px 0px;
            background-color: $blue-font-color;
            .portfolio-experience {
                &.card {
                    border: none;
                    .card-title {
                        padding-top: 0px;
                    }
                    .card-logo {
                        top: 200px;
                        opacity: 0;
                        transition: all 0.5s;
                    }
                    &#kombert-caterers {
                        .card-logo {
                            &-image {
                                background-image: url('../img/logos/kombert-caterers-letter-logo.png');
                            }
                        }
                    }
                    &#long-island-aba {
                        .card-logo {
                            padding: 0px;
                            width: 210px;
                            height: 90px;
                            margin-left: -105px;
                            &-image {
                                background-image: url('../img/logos/longislandaba-logo.jpg');
                            }
                        }
                    }
                }
                &:last-child {
                    padding-bottom: 0px;
                }
                &-title {
                    width: 100%;
                    height: 200px;
                    overflow: hidden;
                    position: relative;
                    display: block;
                    &-background {
                        width: 100%;
                        height: 100%;
                        transition: transform 0.5s;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-color: $blue-font-color;
                    }
                    &:hover, &:focus {
                        .portfolio-experience-title-background {
                            transform: scale(1.2);
                        }
                    }
                    &-text {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        right: 0px;
                        bottom: 0px;
                        margin: auto;
                        text-align: center;
                        height: 50px;
                        font-size: 24px;
                        color: $white;
                        opacity: 0;
                        transition: opacity 0.5s;
                    }
                }
                &-description {
                    .button {
                        width: 100%;
                        display: block;
                        padding: 15px 30px;
                        border-radius: 100px;
                        margin-top: 15px;
                        text-transform: capitalize;
                        text-decoration: none;
                        &.primary {
                            background-color: $blue-font-color;
                            color: $white;
                        }
                    }
                }
                &#long-island-aba {
                    .portfolio-experience-title-background {
                        background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url('../img/kids_waving.jpg');
                    }
                }
                &#kombert-caterers {
                    .portfolio-experience-title-background {
                        background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url('../img/kombert_fork_impression.jpg');
                    }
                }
                &#jacky-scott {
                    .portfolio-experience-title-background {
                        background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url('../img/desk_with_apple.jpg');
                    }
                    .portfolio-experience-description {
                        padding-top: 30px;
                    }
                }
                &#barbershop-scheduler {
                    .portfolio-experience-title-background {
                        background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url('../img/barbershop.jpg');
                    }
                }
                &.active {
                    .portfolio-experience {
                        &-title-text {
                            opacity: 1;
                        }
                    }
                    .card-logo {
                        opacity: 1.0;
                        top: 150px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 600px) {
    #portfolio {
        &.page-section {
            .page-section-content {
                .portfolio-experience {
                    &-description {
                        .button {
                            width: 200px;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    #portfolio {
        &.page-section {
            .page-section-content {
                padding: 40px 20px;
                @include display-flex;
                flex-wrap: wrap;
                &.card-container {
                    .portfolio-experience {
                        &.card {
                            width: 40%;
                            margin-bottom: 80px;
                            border-radius: 20px;
                            transform: translateY(200px);
                            &:nth-child(odd) {
                                margin-right: 20px;
                            }
                            &:last-child {
                                .card-description {
                                    border-right: 0px;
                                }
                            }
                            &-description {
                                border-right: 1px solid #ccc;
                            }
                            // When card is given "active" class (when it is in focus),
                            // slide it up using a keyframe
                            // Keep animations from mobile (fade in title and icon)
                            &.active {
                                animation-name: slideUp;
                                animation-duration: 1s;
                                // https://www.sitepoint.com/understanding-css-animation-fill-mode-property/
                                animation-fill-mode: forwards;
                                // Give a delay to the even number DOM elements
                                // in order to give a ripple effect
                                &:nth-child(even) {
                                    animation-delay: 0.1s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// TODO - add browser prefixes
@keyframes slideUp {
    100% {
        transform: translateY(0px);
    }
}
