#work {
    &.page-section {
        margin-bottom: 100px;
        .page-section-heading {
            padding-top: 30px;
            padding-bottom: 20px;
        }
        .page-section-content {
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: $blue-font-color;
            .work-experience {
                &-title {
                    .logos {
                        width: 50%;
                        margin-bottom: 10px;
                    }
                }
                &-description {
                    padding: 30px;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    #work {
        &.page-section {
            .page-section-heading {
                padding-top: 100px;
                padding-bottom: 35px;
            }
            .page-section-content {
                padding: 40px 80px;
                &.card-container {
                    @include display-flex;
                    .work-experience.card {
                        width: 33.33333%;
                        margin-right: 40px;
                        margin-bottom: 0px;
                        &:last-child {
                            margin-right: 0px;
                        }
                    }
                }
            }
        }
    }
}
