@import "variables";
@import "mixins";
@import "header";
@import "common";
@import "about";
@import "work-section";
@import "portfolio-section";
@import "education-section";
@import "skills-section";
@import "contact-section";

body, section, h1, h2, h3, h4, h5, h6, div, p, a {
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
    @include border-box-sizing;
}

img {
    width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.1;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

hr {
    margin: 0px;
}

.page-section {
    text-align: center;
}

.my-picture {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
