@import "~bulma/sass/utilities/initial-variables.sass";
// not sure if i need the tilda here

$primary: #2c3e50;
$blue: $primary;
$primary-dark-one: #1B3147;
$primary-dark-two: #0C2032;
$primary-light-one: #42586E;
$primary-light-two: #617487;
