@import "./variables";

.contact-section-wrapper {
  background-color: $primary;
  margin-top: 128px;
  padding-bottom: 3rem;
}

.contact-section {
  background-color: $white;
  margin-top: -6rem;
}

.iconList {
  .icon {
    margin-bottom: 2rem;
    border-radius: 50%;
    position: relative;
    a {
      &[data-title]:hover::after {
        content: attr(data-title);
        position: absolute;
        bottom: calc(100% + 2px);
        left: 25%;
        color: $white;
        background-color: $primary;
        padding: 0.25rem;
        white-space: nowrap;
        border-radius: 6px;
      }
    }
    // bring up on hover
    &:hover {
      box-shadow: 0 0.5em 1.5em 0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%);
    }
    // bring down on click
    &:active {
     box-shadow: 0 0.5em 0.5em -0.5em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%);
    }
  }
}

@media screen and (min-width: $tablet) {
  .iconList {
    justify-content: space-around;
    .icon {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: $desktop) {
  .contact-section {
    width: 960px;
    left: 50%;
    margin-left: -480px;
  }
}
