@import "./variables";

.contact-section-wrapper {
  background-color: $primary;
  margin-top: 128px;
  padding-bottom: 3rem;
}

.contact-section {
  background-color: $white;
  margin-top: -6rem;
}

.icon {
  border: 1px solid $grey-lightest;
  border-radius: 50%;
}
.icon {
  margin-bottom: 2rem;
}

@media screen and (min-width: $tablet) {
  .icon {
    margin-bottom: 0;
  }
}

@media screen and (min-width: $desktop) {
  .contact-section {
    width: 960px;
    left: 50%;
    margin-left: -480px;
  }
}
