@import "./variables";

.contact-section-wrapper {
  background-color: $primary;
  margin-top: 128px;
  padding-bottom: 3rem;
}

.contact-section {
  background-color: $white;
  margin-top: -6rem;
}

.iconList {
  .icon {
    margin-bottom: 2rem;
    border-radius: 50%;
    position: relative;
    a {
      &[title]:hover::after,
      &[title]:focus::after {
        content: attr(title);
        position: absolute;
        bottom: calc(100% + 2px);
        left: 25%;
        color: $white;
        background-color: $primary;
        padding: 0.25rem;
        white-space: nowrap;
        border-radius: 6px;
      }
    }
    // TODO - animate box-shadow on hover
    // &:hover {
    //  box-shadow: none; 
    // }
  }
}

@media screen and (min-width: $tablet) {
  .iconList {
    justify-content: space-around;
    .icon {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: $desktop) {
  .contact-section {
    width: 960px;
    left: 50%;
    margin-left: -480px;
  }
}
