@import "variables";

.me {
  height: 250px;
  width: 250px;
  display: block;
  margin: 0 auto;
}

.heroBody {
  position: relative;
}
.heroBody:after,
.heroBody:before {
  content: '';
  display: block;
  position: absolute;
  background-color: $white;
}
.heroBody:after {
  bottom: 0;
  left: 24px;
  height: 120px;
  width: 6px;
}
.heroBody:before {
  right: 0px;
  bottom: 120px;
  width: 10%;
  height: 6px;
}

.hero {
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50%;
    width: 100%;
    background-color: $primary;
  }
}

.buttonGroup {
  margin-top: 2rem;
  flex-direction: column;
  button {
    margin-bottom: 1.25rem;
    &:last-child {
      margin-bottom: 0rem;
    }
  }
}

.someImage {
  height: 200px;
  background-color: #ccc;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: $tablet) {
  .hero:before {
    height: 100%;
    width: 50%;
  }
  .heroBody:after {
    right: 100px;
    left: auto;
    height: 20vh;
    width: 6px;
  }
  .heroBody:before {
    top: 0px;
    right: 50px;
    bottom: auto;
    height: 20vh;
    width: 6px;
  }
  .buttonGroup {
    flex-direction: row;
    button {
      margin-bottom: 0;
      margin-right: 1.5rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
