@import "variables";

.me {
  height: 250px;
  width: 250px;
  display: block;
  margin: 0 auto;
}

// overwrite bulma
.heroColumns:last-child {
  margin-bottom: 0;
}

.heroBody {
  padding-bottom: 0;
}

.infoColumn {
  margin-bottom: 4rem;
  padding-bottom: 0;
}

.meColumn {
  position: relative;
  width: calc(100% + 1.5rem);
  background-color: $primary-light-one;
  padding: 4rem 0;
}
.meColumn:after,
.meColumn:before {
  content: '';
  display: block;
  position: absolute;
  background-color: $white;
}
.meColumn:after {
  bottom: 0;
  left: 24px;
  height: 120px;
  width: 5px;
}
.meColumn:before {
  right: 0px;
  bottom: 120px;
  width: 10%;
  height: 5px;
}

.buttonGroup {
  margin-top: 2rem;
  flex-direction: column;
  button {
    margin-bottom: 1.25rem;
    &:last-child {
      margin-bottom: 0rem;
    }
  }
}

.someImage {
  height: 200px;
  background-color: #ccc;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: $tablet) {
  .heroBody {
    padding-bottom: 3rem;
    position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 50%;
      background-color: $primary;
    }
  }
  .infoColumn {
    margin-bottom: 0;
    padding-bottom: 0.75rem;
  }
  .meColumn {
    background-color: transparent;
    padding: 0.75rem;
    z-index: 2;
    &:before,
    &:after {
      display: none;
    }
  }
  .buttonGroup {
    flex-direction: row;
    button {
      margin-bottom: 0;
      margin-right: 1.5rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
